.vscode/

/target/
/target/classes/
/target/test-classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-status/
/target/maven-archiver/
/logs/*
*.log
*.tmp
*.bak
src/main/resources/application.properties
database/guide_plantation_test_data.sql
resume_demarche_projet_VOLY_SAINA.md