<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de la Facture</title>
</head>
<body>

<div class="container">

    <a href="/api/factures" class="button"> Retour </a>

    <h2 th:text="'Détails de la Facture N° ' + ${facture.numero}"></h2>

    <div class="liste">
        <ul>
            <li th:text="'Client : ' + ${facture.client.nom}"></li>
            <li th:text="'Type d\'opération : ' + ${facture.typeOperation}"></li>
            <li th:text="'Date de facturation : ' + ${#temporals.format(facture.dateFacture, 'dd/MM/yyyy HH:mm')}"></li>
            <li th:text="'Date limite de paiement : ' + ${facture.dateLimite}"></li>
            <li th:text="'Montant Total : ' + ${facture.montantTotal} + ' Ar'"></li>
            <li th:text="'Montant Payé : ' + ${facture.montantPaye} + ' Ar'"></li>
        </ul>
    </div>

    <div class="statut-machine">
        <h2 th:text="'Statut : ' + ${facture.statutFacture.libelle}"></h2>
    </div>

    <h3>Machines concernées</h3>
    <div class="table-operations">
        <p th:if="${#lists.isEmpty(facture.operationMachine)}">
            Aucune machine enregistrée sur cette facture.
        </p>

        <table border="1" th:unless="${#lists.isEmpty(facture.operationMachine)}">
            <thead>
                <tr>
                    <th>Machine</th>
                    <th>Type</th>
                    <th>Prix unitaire (jour)</th>
                    <th>Quantité (jours)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="opMachine : ${facture.operationMachine}">
                    <td th:text="${opMachine.idMachine.nom}"></td>
                    <td th:text="${opMachine.idMachine.typeMachine.libelle}"></td>
                    <td th:text="${opMachine.idMachine.prixJour} + ' Ar'"></td>
                    <td th:text="${opMachine.quantite}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Produits concernés</h3>
    <div class="table-operations">
        <p th:if="${#lists.isEmpty(facture.operationProduit)}">
            Aucun produit enregistré sur cette facture.
        </p>

        <table border="1" th:unless="${#lists.isEmpty(facture.operationProduit)}">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="opProduit : ${facture.operationProduit}">
                    <td th:text="${opProduit.idProduit.libelle}"></td> <td th:text="${opProduit.quantite}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>