        <div class="div">
            <h2> Maintenance </h2>
        </div>
        <table border="1">
            <tr>
                <th> Date Debut </th>
                <th> Date Retour Reelle </th>
                <th> Date Retour Prevue </th>
                <th> Statut </th>
                <th> Description </th>
                <th> Action </th>
            </tr>
            <tr th:if="${#lists.isEmpty(maintenances)}">
                <td> Aucune maintenance pour ce véhicule </td>
            </tr>
            <tr th:unless="${#lists.isEmpty(maintenances)}" th:each="maintenance : ${maintenances}">
                <td th:text="${maintenance.getDateDebut()}"></td>
                <td th:text="${maintenance.getDateRetourReelle()}"></td>
                <td th:text="${maintenance.getDateRetourPrevue()}"></td>
                <td th:text="${maintenance.getStatutMaintenance().getLibelle()}"></td>
                <td th:text="${maintenance.getTravaux()}"></td>
                <td th:if="${maintenance.getStatutMaintenance().getCode() == 'prevue' || maintenance.getStatutMaintenance().getCode() == 'en_cours'}">
                    <form th:action="@{/maintenance-machines/{id}(id=${maintenance.getId()})}" method="post">
                        <input type="hidden" name="_method" value="put">
                        <button type="submit">Mark as Completed</button>
                    </form>
            </tr>
        </table>