<h1> Formulaire de reste à payer </h1>

<form action="/admin/paiements/restePayee" method="post">
    <input type="hidden" name="idFacture" th:value="${facture.getIdFacture()}">
    <p> Montant à payer <input type="number" name="montant"> </p>
    <p> Date de paiement <input type="datetime-local" name="date"> </p>
    <p> Mode de paiement:
        <select name="modePaiement">
            <option th:each="mode: ${modes}" th:value="${mode.idModePaiement}" th:text="${mode.libelle}">
            </option>
        </select>
    </p>

    <button type="submit">Valider le paiement</button>
</form>