<div class="container">

    <a href="/admin/machines" class="button"> Retour </a>

    <h2 th:text=" 'À propos du ' + ${machine.getNom()}"></h2>

    <div class="liste">
        <ul>
            <li th:text=" 'Type : ' + ${machine.getTypeMachine().getLibelle()}"></li>
            <li th:text=" 'A propos: ' + ${machine.getDescription()}"></li>
            <li th:text="'Prix (par jour): ' + ${machine.getPrixJour()} + ' Ar'"></li>
        </ul>
    </div>

    <div class="statut-machine">
        <h2 th:text="${machine.getEtatMachine() != null ? machine.getEtatMachine().getLibelle() : 'Aucun état'}"></h2>
    </div>

    <h3>Historique Réservations</h3>
    <div class="table-reservation">
        <p th:if="${#lists.isEmpty(reservations)}">
            Aucune réservation pour ce véhicule
        </p>

        <table border="1">
            <tr>
                <th> Client </th>
                <th> Date Debut </th>
                <th> Date Fin </th>
                <th> Statut </th>
                <th> Prix Total </th>
            </tr>

            <tr th:unless="${#lists.isEmpty(reservations)}" th:each="reservation : ${reservations}">
                <td th:text="${reservation.getClient().getNom()}"></td>
                <td th:text="${reservation.getDateDebut()}"></td>
                <td th:text="${reservation.getDateFin()}"></td>
                <td th:text="${reservation.getStatutReservation().getLibelle()}"></td>
                <td th:text="${reservation.getPrixTotal()}"></td>
            </tr>

        </table>

    </div>
            <div class="div">
            <h2> Maintenance </h2>
        </div>
        <table border="1">
            <tr>
                <th> Date Debut </th>
                <th> Date Retour Reelle </th>
                <th> Date Retour Prevue </th>
                <th> Statut </th>
                <th> Description </th>
            </tr>
            <tr th:if="${#lists.isEmpty(maintenances)}">
                <td> Aucune maintenance pour ce véhicule </td>
            </tr>
            <tr th:unless="${#lists.isEmpty(maintenances)}" th:each="maintenance : ${maintenances}">
                <td th:text="${maintenance.getDateDebut()}"></td>
                <td th:text="${maintenance.getDateRetourReelle()}"></td>
                <td th:text="${maintenance.getDateRetourPrevue()}"></td>
                <td th:text="${maintenance.getStatutMaintenance().getLibelle()}"></td>
                <td th:text="${maintenance.getTravaux()}"></td>
            </tr>
        </table>
    </div>
</div>
